.repub-red {
	color: rgb(215,0,12);
}

.demo-blue {
	color: rgb(0,157,246);
}

p {
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#collection-timeline {
    width: 90%
}

#network-pres-img {
    width: 90%
}

.long-output {
    overflow-y: auto;
    height: 200px;
}
